header{
	background: #C70039;
	height: 100px;

}

section{
	background: #ededed;
	display: inline-block;
	width: 19.5%;
	margin-top: 80px;
}

section > img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;	
}

section > h2,
section > h4,
section > p{
	text-align: center; 
}

p{
	font-size: 11px;
}

